.background4{

    height: 768px;
    width: 1366px;
    border: 1px solid #e3e3e3c2;
    background-image: url(../images/section4-image.png);
    background-repeat: no-repeat;
    background-position: right;


}
.seccion4-1{
    margin-top: 144px;
    margin-left: 101px;
    display: flex;
    align-items: center;
    width: 669px;
    height: 64px;
    opacity: 1;
    background-color: grey;
}
.texto2{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #ffffff;
}