.lineargradient{
    display: flex;
    align-items: flex-start;
    width: 1366px;
    height: 768px;
    background: linear-gradient(90deg, #F2F4F1 75%, #DCE1DA 25%);
}
.contenedor5{
    margin-top: 120px;
    width: 1366px;
    height: 768px;
    opacity: 1;
    background-image: url(../images/contact-image.png);
    background-repeat: no-repeat;
    background-position: top right 100px;
}
.cabecera5{
    width: 285px;
    height: 100px;
    text-align: left;

}
.bloque5{
    margin-top: 75px;
    width: 471px;
    height: 345px;
    margin-left: 101px;
}
.ha5{

    width: 402px;
    height: 100px;
    text-align: left;
    opacity: 1;
    margin-left: 101px;
    color: #343434;
    font-size: 39px;
}
.ha51{
    
    width: 386px;
    height: 55px;
    text-align: left;
    color: #E0752F;
    margin-top: 0px;
}